<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title></title>
</head>
<body>
<h1>Новый пароль</h1>
<p>Ваш новый пароль: <%= @new_password %></p>
<p>Пожалуйста, сохраните его в надежном месте.</p>
</body>
</html>
