<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title></title>
</head>
<body>
<h1>Сброс пароля</h1>
<p>Для сброса пароля, пожалуйста, перейдите по следующей ссылке:</p>
<p><%= new_password_user_url(@user, confirmation_token: @user.confirmation_token) %></p>
</body>
</html>
