<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title></title>
</head>
<body>
<h1>Просьба войти в систему для сохранения аккаунта</h1>
<p>Уважаемый <%= @user.first_name %> <%= @user.last_name %></p>
<p>Мы хотели бы напомнить вам о вашем аккаунте на нашем сайте. Вам осталось несколько дней, чтобы войти в систему и подтвердить активность вашего аккаунта.</p>
<p>Если вы не будете входить в систему и активировать свой аккаунт, ваш аккаунт будет автоматически удален.</p>
</body>
</html>
