<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>Подтверждение почты</title>
</head>
<body>
<h1>Подтверждение почты</h1>
<p>Добро пожаловать <%#= @user.first_name %> <%#= @user.last_name %>!</p>
<p>Пожалуйста, <a href="<%= confirm_user_url(@user, confirmation_token: @user.confirmation_token, host: 'localhost:5000') %>">подтвердите свою почту.</a></p>
</body>
</html>
